<div id="rznr_middle_subpage">
    <h2>Bild zuschneiden</h2>           
      <br />
      <br />
      <%= link_to 'Zurück', referenceboxes_path %>
</div>

<div class="col_w600 float_l">
	<%= image_tag @referencebox.referenceimage_url(:large), id: "cropbox5" %>

	<h4>Vorschau</h4>
	<div style="width:279px; height:186px; overflow:hidden">
  	<%= image_tag @referencebox.referenceimage.url(:large), :id => "preview5" %>
	</div>

	<%= form_for @referencebox do |f| %>
	  <% %w[x y w h].each do |attribute| %>
	    <%= f.hidden_field "crop_#{attribute}" %>
	  <% end %>
	  <br />
	  <div class="actions">
	    <%= f.submit "Zuschneiden" %>
	  </div><br />
	<% end %>
</div>