<div id="rznr_header">
  <div id="site_title">
      <h1>
      <% if Setting.first(1).present? && Setting.first.firmlogo.present? %>
        <a href='<%=  root_path %>' style="background-image:url('<%= Setting.first.firmlogo_url(:thumb) %>')"></a>
      <% else %>
        <a href='<%=  root_path %>' style="background-image:url(/assets/logo.png)"></a>
      <% end %>
    </h1>
  </div>

  <div id="site_login"> 
    <br /> 
    <% if user_signed_in? %>
      Angemeldet als <strong><%= current_user.email %>
      <% if current_user && current_user.admin? %>
        <%= "(ADMIN)" %>
      <% end %></strong>
      <br />
      <%= link_to 'Profil bearbeiten', edit_user_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Abmelden", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      Nicht angemeldet<br />
      <%= link_to "Registrieren", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Anmelden", new_user_session_path, :class => 'navbar-link'  %>
      <br />
    <% end %>
    <% if notice %>
      <p class="alert_alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert_alert-danger"><%= alert %></p>
    <% end %>
  </div>
  <div class="cleaner"></div>
</div>
